body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    display: grid;
    height: 100%;
    width: 100%;
    place-items: centre;
    /* background: -webkit-linear-gradient(left,#a445b2,#fa4299); */
}
.register-header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 23px;
}

.register{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}
.register-form{
    flex: 1.2;
}
.register-image img{
    margin-left: 2rem;
    max-width: 60%;
    max-height: 60%;
}

.main-content{
    display: flex;
    flex-direction: row-reverse;
}
.register{
    display: flex;
    flex-direction: column;
}
.form-btn{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.btn{
    max-width: 30%;
    display: flex;
    border: 2px solid rgb(59, 95, 98);
    background: rgb(30, 29, 29);
    color: white;
}
.register-image{
    display: flex;
    justify-content: center;
    align-items: center;
}
