body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    display: grid;
    height: 100%;
    width: 100%;
    place-items: centre;
    /* background: -webkit-linear-gradient(left,#a445b2,#fa4299); */
}
.register-header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 23px;
}

.register{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}
.register-form{
    flex: 1.2;
}
.register-image img{
    margin-left: 2rem;
    max-width: 60%;
    max-height: 60%;
}

.main-content{
    display: flex;
    flex-direction: row-reverse;
}
.register{
    display: flex;
    flex-direction: column;
}
.form-btn{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.btn{
    max-width: 30%;
    display: flex;
    border: 2px solid rgb(59, 95, 98);
    background: rgb(30, 29, 29);
    color: white;
}
.register-image{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media(max-width:1024px){
    .register-image{
        max-width: 45%;
    }
    .register-form{
        max-width: 55%;
    }
}
@media(max-width:590px){
    .main-content {
        display: flex;
        flex-direction: column-reverse;
    }
    .register-image {
        max-width: 80%;
    }
    .register-form {
        max-width: 100%;
        padding: 20px;
    }
    .register-header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 23px;
        padding: 20px;
    }
    .form-btn {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        justify-content: center;
        align-items: center;
    }
}
@media(max-width:320px){
    .form-btn {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        max-width: 83%;
    }
    .btn{
        display: flex;
        justify-content: center;
    }
}
