
.register-header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 23px;
}

.register{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}
.register-image img{
    margin-left: 23px;
}
.container{
    border: none;
    animation: myAnim 2s ease 1s 1 normal forwards;
}
.form{
    border: none;
}
@keyframes myAnim {
	0% {
		animation-timing-function: ease-in;
		opacity: 1;
		transform: translateY(45px);
	}

	24% {
		opacity: 1;
	}

	40% {
		animation-timing-function: ease-in;
		transform: translateY(24px);
	}

	65% {
		animation-timing-function: ease-in;
		transform: translateY(12px);
	}

	82% {
		animation-timing-function: ease-in;
		transform: translateY(6px);
	}

	93% {
		animation-timing-function: ease-in;
		transform: translateY(4px);
	}

	25%,
	55%,
	75%,
	87% {
		animation-timing-function: ease-out;
		transform: translateY(0px);
	}

	100% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0px);
	}
}